<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="icon.png"/>

    <title>Course Schedule</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="dist/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link th:href="@{dist/css/bootstrap.min.css}" rel="stylesheet" />-->
      <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.3.5-dist/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.5-dist/css/bootstrap.min.css}" />
      <!--<link th:href="@{../static/html/dist/bootstrap.min.css}" rel="stylesheet" />-->
    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet"/>-->
    <!--<link th:href="@{starter-template.css}" rel="stylesheet" />-->
      <!--<link th:href="@{/resources/static/html/dist/bootstrap.min.css}" rel="stylesheet" />-->
      <link type="text/css" rel="stylesheet" href="../static/css/schedule.css" th:href="@{/css/schedule.css}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CE SMART TRACKER</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="schedule_content">
<!--        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
          <h4 th:text="'Course schedule of ' + ${username} + '!'" />
          <div class="schedule_table" >
              <table>
                  <tr>
                      <td>รหัสวิชา</td>
                      <td>ชื่อวิชา</td>
                      <td>วันที่เรียน</td>
                  </tr>
                  <tr th:each="course : ${courses}">
                      <td th:text="${course.courseId}">012345</td>
                      <td th:text="${course.courseName}">MATH</td>
                      <td th:text="${course.courseDay}">Friday</td>
                  </tr>
              </table>
          </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/html/dist/js/bootstrap.min.js"></script>
  </body>
</html>
