body {
  padding-top: 50px;
}
.schedule_content {
  padding: 5px 5px;
  text-align: left;
}
.navbar-inverse {
  background-color: #003366;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: rgb(255, 255, 255);
}

.schedule_table {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;

  -moz-border-radius-bottomleft:14px;
  -webkit-border-bottom-left-radius:14px;
  border-bottom-left-radius:14px;

  -moz-border-radius-bottomright:14px;
  -webkit-border-bottom-right-radius:14px;
  border-bottom-right-radius:14px;

  -moz-border-radius-topright:14px;
  -webkit-border-top-right-radius:14px;
  border-top-right-radius:14px;

  -moz-border-radius-topleft:14px;
  -webkit-border-top-left-radius:14px;
  border-top-left-radius:14px;
}.schedule_table table{
   border-collapse: collapse;
   border-spacing: 0;
   width:100%;
   height:100%;
   margin:0px;padding:0px;
 }.schedule_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;
  }
.schedule_table table tr:first-child td:first-child {
  -moz-border-radius-topleft:14px;
  -webkit-border-top-left-radius:14px;
  border-top-left-radius:14px;
}
.schedule_table table tr:first-child td:last-child {
  -moz-border-radius-topright:14px;
  -webkit-border-top-right-radius:14px;
  border-top-right-radius:14px;
}.schedule_table tr:last-child td:first-child{
   -moz-border-radius-bottomleft:14px;
   -webkit-border-bottom-left-radius:14px;
   border-bottom-left-radius:14px;
 }.schedule_table tr:hover td{
    background-color:#ffffff;


  }
.schedule_table td{
  vertical-align:middle;

  background-color:#e5e5e5;

  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:10px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.schedule_table tr:last-child td{
   border-width:0px 1px 0px 0px;
 }.schedule_table tr td:last-child{
    border-width:0px 0px 1px 0px;
  }.schedule_table tr:last-child td:last-child{
     border-width:0px 0px 0px 0px;
   }
.schedule_table tr:first-child td{
  background:-o-linear-gradient(bottom, #003366 5%, #003366 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003366) );
  background:-moz-linear-gradient( center top, #003366 5%, #003366 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003366");	background: -o-linear-gradient(top,#003366,003366);

  background-color:#003366;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:16px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.schedule_table tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #003366 5%, #003366 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003366) );
  background:-moz-linear-gradient( center top, #003366 5%, #003366 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003366");	background: -o-linear-gradient(top,#003366,003366);

  background-color:#003366;
}
.schedule_table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.schedule_table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}